/*Reset Básico*/
* {
    margin: 0;
    padding: 0;
}

/* Configuração do Grid */
.container {
    display: grid;
    grid-template-areas: 
        "logo   logo    logo" 
        "arquivo  otimizacao  ag"
        "algoritmo   grafico ag";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 70px auto auto;
    gap: 10px;
    height: 100vh;
    /* width: 100vw; */
    padding: 10px;
}

/* Estilos Individuais */
.logo {
    grid-area: logo;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.arquivo {
    grid-area: arquivo;
    background-color: aquamarine;
    color: black;
    padding: 10px;
    font-weight: bold;
    height: 100px;
    overflow: hidden;
}

.algoritmo {
    grid-area: algoritmo;
    background-color: aquamarine;
    color: black;
    padding: 20px;
    font-weight: bold;
    height: inherit;
}

.grafico {
    grid-area: grafico;
    background-color: aquamarine;
    color: black;
    padding: 20px;
    font-weight: bold;
}

.ag {
    grid-area: ag;
    background-color: aquamarine;
    color: black;
    padding: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.ag label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#button_set_AG {
    background-color: #ccc;
    color: black;
    font-size: 20px;
    padding: 9px;
    margin-top: 9px;
    border-radius: 10px;
    width: 25%;
}

.otimizacao {
    grid-area: otimizacao;
    background-color: aquamarine;
    color: black;
    padding: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.input_group {
    margin-top: 4px;
    padding: 5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#parametros-container {
    margin-top: 15px;
}


.input-group {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaçamento entre o label e o input */
    margin-bottom: 10px;
}

.input-group label {
    width: 150px; /* Define uma largura fixa para os labels */
    text-align: right; /* Alinha o texto do label à direita */
    font-weight: bold;
}

.input-group input,
.input-group select {
    flex: 1; /* Faz o input ocupar o espaço restante */
    /* padding: 5px; */
    border: 1px solid #ccc;
    border-radius: 10px;
}

#set-params-btn{
    padding: 9px;
    width: 25%;
    border-radius: 10px;
}

@media (max-width: auto) {
    .container {
        grid-template-areas: 
            "logo"
            "arquivo"
            "algoritmo"
            "grafico"
            "ag"
            "otimizacao";
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto auto;
    }
}